body{
    padding: 20px;
}

.title {
    font-size: 20px;
    padding-bottom: 10px;
}

.table{
    border-collapse: collapse;
}

.table td, .table th {
    border: 1px solid black;
    padding: 10px 5px;
    min-width: 100px;
    text-align: start;
}

.table .header {
    background-color: #008100;
    color: #ffffff;
}

.table .bottom-gray {
    background-color: #D4D4D4;
}